@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    padding-top: env(safe-area-inset-top); 
    background: linear-gradient(
      to right,
      rgb(24, 24, 24), 
      rgb(32, 32, 32)  
    );
}
* {
    font-family: 'Inter', sans-serif;
}
header {
    padding-top: env(safe-area-inset-top); 
    background: linear-gradient(
      to right,
      rgb(24, 24, 24), 
      rgb(32, 32, 32)  
    ); 
}